* {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 24px;
  }

h1 {
    font-size: 32px;
    color: white;
    text-align: center;
}

body {
    background-color: lightblue;
}

p {
    color: red;
    text-align: center;
}

.class-example-1 {
    color: blue;
}

#id-example-1 {
    color: green;
}

table, td {
  border: solid 1px black;
  text-align: center;
  margin: auto;
}

.div-class {
    background-color: white;
    height: 400px;
    width: 400px;
    padding: 15px;
    border: dashed 10px black;
    margin: 20px;
    float: left;
  }

#main-div {
  margin: auto;
  text-align: center;
}


@media only screen and (max-width: 800px) {
    body {
      background-color: forestgreen;
    }
}